:root{
    --main:#1689d1;
    --secondary:#7357e2;
    --color3:#EE1C5D;
    --color4:#33cb33;
    --color5:#ffffff;
    --color6:#000000;
}

* {
    margin: 0;
    padding: 0;
}
/* Header styles */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 .5px 20px rgba(0, 0, 0, .1);
}


.logo{
    margin-left: 30px;
    width: 90px;
    height: auto;
    cursor: pointer;
}

.nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
}
.nav a{
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    transition: 0.4s ease-in-out;
}


.active a{
    background: var(--main);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.nav a:hover{
    background: var(--main);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

/* Welcome page Styles */
.welcome_page{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 40px;
}
.welcome_img{
    width: 50%;
    height: auto;
    transform: rotateY(180deg);
}

.welcome_page span{
    color: var(--main);
}

.welcome_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_signin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_signin a{
    text-decoration: none;
    color: var(--color5);
    background: var(--main);
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    font-size: 30px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}
.login_signin a:hover{
    transform: scale(1.2);
}